@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.loader-container{
    background-color: #111;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}

.loader-container .sk-cube-grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide{
    opacity: 0;
    pointer-events: none;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}
  
.sk-cube-grid .sk-cube {
width: 33%;
height: 33%;
background-color: #333;
float: left;
-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
-webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
-webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
-webkit-animation-delay: 0s;
        animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
-webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
}
}

@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
} 
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    background: crimson;
    padding: 15px 0;
}

.navbar.sticky .menu li a{
    color: rgb(209, 205, 205);
    outline: none;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    outline: none;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline;
}

.navbar .menu li a{
    display: inline;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    outline: none;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 1000;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;   
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 1002;
}

.home{
    display: flex;
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;

}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 25px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    outline: none;
}

.home .home-content a:hover{
    color: crimson;
    background-color: transparent;
}

section{
    padding: 100px 0;
}

section .title{
    position: relative;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 255px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);

}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);

}

.about, 
.education, 
.skills,
.certificates,
.projects,
.contact,
footer{
    font-family: "Poppins", sans-serif;
}

.about .title::after{
    content: "Know me";
}

.about .about-content, 
.education .education-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right span{
    color: crimson;
}

.about .about-content p{
    text-align: justify;
}

.about .about-content .right .social-links{
    margin: 30px 0px;
    text-align: justify;
}

.about .about-content .right .social-links a{
    outline: 0;
    color: crimson;
    margin-right: 12px;
    font-size: 25px;
    transition: color 0.3s ease;
}

.about .about-content .right .social-links a:hover{
    color: #111;
    margin-right: 12px;
    font-size: 25px;
}

.education,
.projects{
    background: #111;
    color: #fff;
}

.education .title::before,
.projects .title::before{
    background: #fff;
}

.education .title::after{
    background: #111;
    content: "Qualifications";
}

.education .education-content{
    display: flex;
    justify-content: center;
}

.education .education-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin: auto auto;
    cursor: default;
    transition: all 0.3s ease;
}

.education .education-content .card:hover{
    background: crimson;
}

.education .education-content .card .box{
    transition: all 0.3s ease;
}

.education .education-content .card:hover .box{
    transform: scale(1.05);
}

.education .education-content .card i{
    font-size: 50px;
    color: crimson;
    transition: all 0.3s ease;
}

.education .education-content .card:hover i{
    color: #fff;
}

.education .education-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.skills .title::after{
    content: "What I know";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .python::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .mysql::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 65%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .html::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .css::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 55%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .js::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 45%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .php::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    left: 0;
    top: 0;
    background: crimson;
}

.certificates .title::after{
    content: "And Certifications";
}

.certificates .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.certificates .carousel .card:hover{
    background: crimson;
}

.certificates .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.certificates .carousel .card:hover .box{
    transform: scale(1.05);
}

.certificates .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    color: "white";
    margin: 10px 0 7px 0;
}

.certificates .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 95%;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    cursor: pointer;
}

.certificates .carousel .card:hover img{
    border-color: #fff;
}

.projects .title::after{
    content: "My works";
    background: #111;
}

.projects .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover{
    background: crimson;
}

.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover .box{
    transform: scale(1.05);
}

.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    cursor: pointer;
}

.projects .carousel .card:hover img{
    border-color: #fff;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson !important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
    background: crimson !important;
}

.projects .carousel .card img:hover{
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

.modal-content, 
.no-img{
    border: none !important;
    border-radius: 0% !important;
}

.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 50px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.contact .title::after{
    content: "Get in touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);

}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .row .info .head{
    font-weight: 500;
}

.contact .contact-content .row .info .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    color: crimson;
    background: none;
    
}

footer{
    text-align: center;
    background: #111;
    padding: 20px 23px;
    color: #fff;
}

footer span a{
    text-decoration: underline;
    outline: none;
}

footer span a,
#footer-name{
    color: crimson;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1140px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }
    
    .home .home-content .text-3{
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;

    }

    .education .education-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }

    .home .home-content .text-2{
        font-size: 60px;
    }
    
    .home .home-content .text-3{
        font-size: 32px;
    }

    .home .home-content a{
        font-size: 22px;
        padding: 8px 28px;
    }

    .education .education-content .card{
        width: 100%;
    }
}

@media (max-width: 560px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    
    .home .home-content .text-3{
        font-size: 27px;
    }

    .home .home-content a{
        font-size: 21px;
        padding: 7px 27px;
    }
}

@media (max-width: 480px){
    .home .home-content .text-2{
        font-size: 45px;
    }
    
    .home .home-content .text-3{
        font-size: 23px;
    }

    .home .home-content a{
        font-size: 20px;
        padding: 6px 26px;
    }
}

@media (max-width: 430px){
    .home .home-content .text-2{
        font-size: 40px;
    }
    
    .home .home-content .text-3{
        font-size: 22px;
    }

    .home .home-content a{
        font-size: 19px;
        padding: 5px 25px;
    }
}

@media (max-width: 390px){
    .home .home-content .text-2{
        font-size: 33px;
    }
    
    .home .home-content .text-3{
        font-size: 15px;
    }

    .home .home-content a{
        font-size: 18px;
        padding: 4px 24px;
    }
}

@media (max-width: 350px){
    .home .home-content .text-2{
        font-size: 33px;
    }

    .home .home-content a{
        font-size: 17px;
        padding: 3px 23px;
    }
    
}

@media (max-width: 340px){
    .home .home-content .text-2{
        font-size: 33px;
    }

    .home .home-content a{
        font-size: 16px;
        padding: 3px 22px;
    }
    
}

@media (max-width: 330px){
    .home .home-content .text-2{
        font-size: 30px;
    }

    .home .home-content a{
        font-size: 15px;
        padding: 3px 22px;
    }
    
}
